<header id="mainheader">
	<%= render 'header' %>	
</header>
<section id="main-wrapper">
	<a id="scroll-to-top" href="#top">&uarr;</a>
	<div id="me">
		<%= render 'me' %>		
	</div>	
	<div id="recent-work-wrapper">
		<%= render 'recent_work' %>		
	</div>
	<div id="workshop-wrapper">
		<%= render 'workbench' %>
	</div>
	<div id="blog-wrapper">
		<%= render 'blog' %>
	</div>
	<div class="footer" id="contact">	
		<%= render 'footer' %>		
	</div>		
</section>
<%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
