<!DOCTYPE html>
<html>
<head>
  <title>Paul Brom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'app',         media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-2.2.0.min', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id='main-body'>	
	<%= yield %>
</body>
</html>
